shape_predictor_68_face_landmarks.dat
.idea
*.pyc
.buildozer
bin
.env*
!.env.example

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CMakeLists.txt.user
lisi.cbp
build
dlib_build
.idea
*.a
_3rdParty/
